.cell {
  background-color: var(--bg-cell-color);
  border: 0px solid transparent;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.cell::before {
  position: absolute;
  content: '';
  top: var(--mouse-y);
  left: var(--mouse-x);
  transform: translate(-50%, -50%);
  width: 200%;
  height: 200%;
  background: radial-gradient(
    var(--cell-highlight-color),
    transparent,
    transparent
  );
  opacity: 0;
  transition: all 0.5s, top 0s, left 0s;
}

.cell:hover::before {
  opacity: 1;
}

.cell::after {
  position: absolute;
  content: '';
  background-color: var(--bg-cell-color);
  opacity: 0.8;
  inset: 2px;
}

.cell__win {
  background-color: var(--winner-color);
}
